body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #060F4F;
  background-image:
  linear-gradient(45deg, rgba(255,255,255,0.015) 25%, transparent 25%),
  linear-gradient(-45deg, rgba(255,255,255,0.015) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, rgba(255,255,255,0.015) 75%),
  linear-gradient(-45deg, transparent 75%, rgba(255,255,255,0.015) 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  color: white;
  overflow-x: hidden;
}


.container {
  max-width: 800px;
  margin: 50px auto;
  background: #12238A;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  position: relative;
  margin-top: 5.5rem;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #FFD700;
  object-fit: cover;
}

.player-name {
  font-size: 32px;
  font-family: 'Luckiest Guy', cursive;
  color: #FFD700;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stat-box {
  background-color: #1B2BB5;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px #FFD700;
}

.stat-title {
  font-size: 18px;
  color: #FFD700;
  margin-bottom: 10px;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-back,
.logout {
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
}

.go-back {
  background-color: #9F2B1F;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-weight: bold;
}

.logout {
  background-color: #9F2B1F;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-weight: bold;
}

.go-back:hover, .logout:hover {
  transform: scale(1.05);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


.achievement-icon {
  width: 40px;
  height: 40px;
}
