.custom-modal-backdrop   {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1999;
}

.custom-modal-box {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px !important;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#modalMessage {
    font-size: 24px;
    font-weight: bold;
}

#modalOkBtn {
    width: 100px;
    background-color: #02239C;
    border: 1px solid #02239C;
    font-weight: bold;
}

#modalOkBtn:hover {
    background-color: rgb(3, 36, 71); 
    border: 1px solid rgb(3, 36, 71); 
}

.hidden {
    display: none !important;
}